.div-search {
  max-width: 1124px;
  margin: auto;
  height: 100vh;
  display: grid;
  gap: 7rem;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.title-search{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  line-height: 1.25;
  font-weight: 900;
  font-size: 3rem;
  margin-top: 3.5rem;
}

.form{
  gap: 1rem;
  display: flex;
  margin-top: 2.5rem;
}

// mt-10 flex gap-2
//flex-1 px-6 py-4 rounded bg-gray-800 border border-gray-600 text-sm text-gray-100
.input-search{
  --tw-text-opacity: 1;
  color: rgb(225 225 230 / var(--tw-text-opacity));
  font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(32 32 36 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(50 50 56 / var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.5rem;
    flex: 1 1 0%;
}

.button-search {
  //bg-yellow-500 px-6 py-4 rounded text-gray-900 font-bold text-sm uppercase
  --tw-bg-opacity: 1;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(247 221 67 / var(--tw-bg-opacity));
    border-radius: 0.5rem;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
button {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;
}

mat-list-item{
  border: 1px solid #04070e;
}
.mdc-list{
  max-height: max-content;
}
